<div th:fragment="feature">
  <!-- Feature tools -->
  <div class="gi-tools-sidebar-overlay"></div>
  <div class="gi-tools-sidebar">
    <a href="javascript:void(0)" class="gi-tools-sidebar-toggle in-out">
      <i class="fi fi-rr-settings"></i>
    </a>
    <div class="gi-bar-title">
      <h6>Tools</h6>
      <a href="#" class="close-tools"><i class="ri-close-line"></i></a>
    </div>
    <div class="gi-tools-detail">
      <div class="gi-tools-block">
        <h3>Select Color</h3>
        <ul class="gi-color">
          <li class="color-primary active-variant"></li>
          <li class="color-1"></li>
          <li class="color-2"></li>
          <li class="color-3"></li>
          <li class="color-4"></li>
          <li class="color-5"></li>
          <li class="color-6"></li>
          <li class="color-7"></li>
          <li class="color-8"></li>
          <li class="color-9"></li>
        </ul>
      </div>
      <div class="gi-tools-block">
        <h3>Modes</h3>
        <div class="gi-tools-rtl">
          <div class="mode-primary gi-tools-item rtl-mode mode active-mode ltr" data-gi-mode-tool="ltr">
            <img th:src="@{/assets/img/tools/ltr.png}" alt="ltr" />
            <p>LTR</p>
          </div>
          <div class="gi-tools-item rtl-mode mode rtl" data-gi-mode-tool="rtl">
            <img th:src="@{/assets/img/tools/rtl.png}" alt="rtl" />
            <p>RTL</p>
          </div>
        </div>
      </div>
      <div class="gi-tools-block">
        <h3>Dark Modes</h3>
        <div class="gi-tools-dark">
          <div class="mode-primary gi-tools-item mode-dark active-mode light" data-gi-mode-dark="light">
            <img th:src="@{/assets/img/tools/light.png}" alt="light" />
            <p>Light</p>
          </div>
          <div class="gi-tools-item mode-dark dark" data-gi-mode-dark="dark">
            <img th:src="@{/assets/img/tools/dark.png}" alt="dark" />
            <p>Dark</p>
          </div>
        </div>
      </div>
      <div class="admin-btn-wrapper">
        <a th:href="@{/admin/login}" class="gi-btn-3">관리자 페이지</a>
      </div>
      <style>
        .admin-btn-wrapper {
          position: fixed;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      </style>
    </div>
  </div>
</div>