<!-- Footer Start -->
<footer class="gi-footer m-t-40">
  <div class="footer-container">
    <div class="footer-top padding-tb-80">
      <div class="container">
        <div class="row m-minus-991">
          <div class="col-sm-12 col-lg-3 gi-footer-cat wow fadeInUp">
            <div class="gi-footer-widget gi-footer-company">
              <img src="/assets/img/yesul/logo/main-logo-191x52.png" class="gi-footer-logo" alt="footer logo">
              <p class="gi-footer-detail">전통주 소개 홈페이지 입니다. 취향에 맞는 전통주를 찾아보세요.</p>
              <div class="gi-app-store">
                <a href="#" class="app-img"><img src="/assets/img/app/android.png" class="adroid" alt="apple"></a>
                <a href="#" class="app-img"><img src="/assets/img/app/apple.png" class="apple" alt="apple"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 gi-footer-info wow fadeInUp" data-wow-delay="0.2s">
            <div class="gi-footer-contact">
              <div class="gi-footer-widget">
                <h4 class="gi-footer-heading">Address</h4>
                <div class="gi-footer-links gi-footer-dropdown">
                  <ul class="align-itegi-center">
                    <li class="gi-footer-link gi-foo-location">
                                                <span>
                                                    <i class="fi fi-rr-marker location svg_img foo_svg"></i>
                                                </span>
                      <p>(06142) 서울특별시 강남구 테헤란로 231, 센터필드 EAST 24층</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 gi-footer-account wow fadeInUp" data-wow-delay="0.3s">
            <div class="gi-footer-contact">
              <div class="gi-footer-widget">
                <h4 class="gi-footer-heading">Phone</h4>
                <div class="gi-footer-links gi-footer-dropdown">
                  <ul class="align-itegi-center">
                    <li class="gi-footer-link gi-foo-call">
                                                <span>
                                                    <i class="fi fi-brands-whatsapp svg_img foo_svg"></i>
                                                </span>
                      <a href="tel:+009876543210">+02 3397-1197</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 gi-footer-service wow fadeInUp" data-wow-delay="0.4s">
            <div class="gi-footer-contact">
              <div class="gi-footer-widget">
                <h4 class="gi-footer-heading">Mail</h4>
                <div class="gi-footer-links gi-footer-dropdown">
                  <ul class="align-itegi-center">
                    <li class="gi-footer-link gi-foo-mail">
                                                <span>
                                                    <i class="fi fi-rr-envelope"></i>
                                                </span>
                      <a href="mailto:example@email.com">Brightkim@shinsegae.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-3 gi-footer-cont-social wow fadeInUp" data-wow-delay="0.5s">
            <div class="gi-footer-contact">
              <div class="gi-footer-widget">
                <h4 class="gi-footer-heading">Social</h4>
                <div class="gi-footer-links gi-footer-dropdown">
                  <ul class="align-itegi-center">
                  </ul>
                </div>
              </div>
            </div>
            <div class="gi-footer-social">
              <div class="gi-footer-widget">
                <div class="gi-footer-links gi-footer-dropdown">
                  <ul class="align-itegi-center">
                    <li class="gi-footer-link"><a href="#"><i class="gicon gi-facebook" aria-hidden="true"></i></a></li>
                    <li class="gi-footer-link"><a href="#"><i class="gicon gi-twitter" aria-hidden="true"></i></a></li>
                    <li class="gi-footer-link"><a href="#"><i class="gicon gi-linkedin" aria-hidden="true"></i></a></li>
                    <li class="gi-footer-link"><a href="#"><i class="gicon gi-instagram" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->