<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin/head :: adminHead"></head>
<body>
    <main class="wrapper sb-default ecom">
        <div th:replace="fragments/admin/header :: adminHeader"></div>
        <div th:replace="fragments/admin/sidebar :: adminSidebar"></div>

        <div th:replace="fragments/admin/notify-sidebar :: adminNotifySidebar"></div>
        <div th:replace="fragments/admin/footer :: adminFooter"></div>

        <div th:replace="fragments/admin/script :: adminScripts"></div>
    </main>
</body>
</html>