<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="adminHead">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="admin, dashboard, crm, analytics, ecommerce, team, vendor, ai chat bot, backend, panel" />
    <meta name="description" content="Traditional Alcohol E-commerce Platform">
    <meta name="author" content="YeSul Company - GY">

    <title>YeSul - Admin Page</title>


    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/asserts/img/favicon/favicon.ico}">

    <!-- Icon CSS -->
    <link th:href="@{/asserts/css/vendor/materialdesignicons.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">

    <!-- Vendor CSS -->
    <link th:href="@{/asserts/css/vendor/datatables.bootstrap5.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/responsive.datatables.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/simplebar.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/apexcharts.css}" rel="stylesheet">
    <link th:href="@{/asserts/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet">

    <!-- Main CSS -->
    <link id="main-css" th:href="@{/asserts/css/style.css}" rel="stylesheet">

</head>
</html>