<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="adminScripts">
  <!-- Vendor Custom JS -->
  <script th:src="@{/asserts/js/vendor/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/simplebar.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/apexcharts.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>

  <!-- Data Tables JS -->
  <script th:src="@{/asserts/js/vendor/jquery.datatables.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/datatables.bootstrap5.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/datatables.responsive.min.js}"></script>

  <!-- Calendar & Date Range -->
  <script th:src="@{/asserts/js/vendor/jquery.simple-calendar.js}"></script>
  <script th:src="@{/asserts/js/vendor/moment.min.js}"></script>
  <script th:src="@{/asserts/js/vendor/daterangepicker.js}"></script>
  <script th:src="@{/asserts/js/vendor/date-range.js}"></script>

  <!-- Main JS -->
  <script th:src="@{/asserts/js/main.js}"></script>
<!--  <script th:src="@{/assets/js/data/ecommerce-chart-data.js}"></script>-->

  <script>
    window.onpageshow = function(event) {
      if (event.persisted) {
        // 뒤로가기 or 세션 히스토리로 로드된 경우
        location.reload();
      }
    };
  </script>

</th:block>
</body>
</html>