<div th:fragment="adminSidebar" class="gi-sidebar-overlay">
  <div class="gi-sidebar" data-mode="light">
  <div class="gi-sb-logo">
    <a th:href="@{dashboard}" class="sb-full">
      <img th:src="@{/asserts/img/logo/full-logo.png}" alt="logo">
    </a>
  </div>
    <div class="gi-sb-wrapper">
      <div class="gi-sb-content">
      <ul class="gi-sb-list">

        <li class="gi-sb-item">
          <a th:href="@{dashboard}" class="gi-page-link">
            <i class="ri-bar-chart-grouped-line"></i>  <!-- ri-file-chart-line /  ri-numbers-line -->
            <span class="condense"><span class="hover-title">Dashboard</span></span>
          </a>
        </li> <!-- dashboard -->

        <li class="gi-sb-item">
          <a th:href="@{/admin/notice}" class="gi-page-link">
            <i class="ri-todo-line"></i> <!-- ri-file-2-line /  ri-pushpin-line-->
            <span class="condense"><span class="hover-title">공지사항</span></span>
          </a>
        </li> <!-- 공지사항 -->

        <li class="gi-sb-item-separator"></li>
        <li class="gi-sb-title condense">Management</li>

        <li class="gi-sb-item">
          <a th:href="@{alcohol}" class="gi-page-link">
            <i class="ri-shopping-cart-line"></i>
            <span class="condense"><span class="hover-title">주류관리</span></span>
          </a>
        </li> <!-- 상품관리 -->

        <li class="gi-sb-item">
          <a th:href="@{sale}" class="gi-page-link">
            <i class="ri-calendar-check-line"></i>
            <span class="condense"><span class="hover-title">이벤트관리</span></span>
          </a>
        </li> <!-- 이벤트관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/admin/user}" class="gi-page-link">
            <i class="ri-account-circle-line"></i>
            <span class="condense"><span class="hover-title">회원관리</span></span>
          </a>
        </li> <!-- 회원정보관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/review/list}" class="gi-page-link">
            <i class="ri-alarm-warning-line"></i>
            <span class="condense"><span class="hover-title">리뷰관리</span></span>
          </a>
        </li> <!-- 리뷰관리 -->

        <li class="gi-sb-item-separator"></li>
        <li class="gi-sb-title condense">chat</li>

        <li class="gi-sb-item">
          <a th:href="@{/admin/chatroom}" class="gi-page-link">
            <i class="ri-question-answer-line"></i>
            <span class="condense"><span class="hover-title">1:1 문의</span></span>
          </a>
        </li> <!--1:1 문의-->

      </ul>
    </div>
    </div>
  </div>
</div>
