<div th:fragment="adminSidebar" class="gi-sidebar-overlay">
  <div class="gi-sidebar" data-mode="light">
  <div class="gi-sb-logo">
    <a th:href="@{/dashboard}" class="sb-full">
      <img th:src="@{/asserts/img/logo/full-logo.png}" alt="logo">
    </a>
  </div>
    <div class="gi-sb-wrapper">
      <div class="gi-sb-content">
      <ul class="gi-sb-list">

        <li class="gi-sb-item">
          <a th:href="@{/dashboard}" class="gi-page-link">
            <i class="ri-bar-chart-grouped-line"></i>
            <span class="condense"><span class="hover-title">Dashboard</span></span>
          </a>
        </li> <!-- dashboard -->

        <li class="gi-sb-item">
          <a th:href="@{/board}" class="gi-page-link">
            <i class="ri-todo-line"></i>
            <span class="condense"><span class="hover-title">공지사항</span></span>
          </a>
        </li> <!-- 공지사항 -->

        <li class="gi-sb-item-separator"></li>
        <li class="gi-sb-title condense">Management</li>

        <li class="gi-sb-item">
          <a th:href="@{/product/list}" class="gi-page-link">
            <i class="ri-play-list-add-line"></i>
            <span class="condense"><span class="hover-title">상품관리</span></span>
          </a>
        </li> <!-- 상품관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/sale/list}" class="gi-page-link">
            <i class="ri-shopping-cart-line"></i>
            <span class="condense"><span class="hover-title">판매관리</span></span>
          </a>
        </li> <!-- 판매관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/stock/list}" class="gi-page-link">
            <i class="ri-todo-line"></i>
            <span class="condense"><span class="hover-title">재고관리</span></span>
          </a>
        </li> <!-- 재고관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/userInfo/list}" class="gi-page-link">
            <i class="ri-todo-line"></i>
            <span class="condense"><span class="hover-title">회원정보관리</span></span>
          </a>
        </li> <!-- 회원정보관리 -->

        <li class="gi-sb-item">
          <a th:href="@{/review/list}" class="gi-page-link">
            <i class="ri-todo-line"></i>
            <span class="condense"><span class="hover-title">리뷰관리</span></span>
          </a>
        </li> <!-- 리뷰관리 -->

        <li class="gi-sb-item-separator"></li>
        <li class="gi-sb-title condense">chat</li>

        <li class="gi-sb-item">
          <a th:href="@{/chat/list}" class="gi-page-link">
            <i class="ri-file-warning-line"></i>
            <span class="condense"><span class="hover-title">1:1 문의</span></span>
          </a>
        </li> <!--1:1 문의-->

      </ul>
    </div>
    </div>
  </div>
</div>
