<!DOCTYPE html>
<head th:replace="~{layout/user-default :: head}"></head>

<body>

<div th:replace="~{layout/user-default :: header}"></div>

<section class="gi-login padding-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-24">
                <div class="gi-sidebar-wrap gi-border-box gi-sticky-sidebar">
                    <div class="gi-vendor-block-items">
                        <ul>
                            <li><a th:href="@{/user/profile}">내정보</a></li>
                            <li><a th:href="@{/user/profile/edit}">내정보 변경</a></li>
                            <li><a th:href="@{/user/change-password}">비밀번호 변경</a></li>
                            <li><a th:href="@{/user/like-post}">좋아요한 게시글 보기</a></li>
                            <li><a th:href="@{/user/like-alcohol}">찜한 술 목록 </a></li>
                            <li><a th:href="@{/travel-plan}">내 여행계획 </a></li>
                            <li><a th:href="@{/point/point-history}">포인트 내역</a></li>
                            <li><a th:href="@{/user/resign}">회원탈퇴</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="gi-login-content">
                    <div class="gi-login-box">
                        <div class="gi-login-wrapper">
                            <div class="gi-login-container">
                                <div class="gi-login-form">
                                    <form th:action="@{/user/change-password}" th:object="${passwordChangeRequestDto}" method="post">
                                        <span class="gi-login-wrap">
                                            <label>Current Password*</label>
                                            <input type="password" th:field="*{currentPassword}"
                                                   placeholder="enter your Current password" required/>
                                        </span>
                                        <span class="gi-login-wrap">
                                            <label>New Password*</label>
                                            <input type="password" th:field="*{newPassword}"
                                                   placeholder="Enter your New password" required/>
                                        </span>
                                        <span class="gi-login-wrap gi-login-btn gi-reset-btn mt-0">
                                            <button class="gi-btn-1 btn" type="submit">Submit</button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a class="gi-back-to-top"></a>

<div th:replace="~{layout/user-default :: feature}"></div>
<div th:replace="~{layout/user-default :: footer}"></div>
<div th:replace="~{layout/user-default :: user-js}"></div>

</body>

</html>