<!DOCTYPE html>
<head th:replace="~{layout/user-default :: head}"></head>

<body>

<div th:replace="~{layout/user-default :: header}"></div>

<section class="gi-login padding-tb-40">
  <div class="container">
    <div class="section-title-2">
      <h2 class="gi-title">Reset Password<span></span></h2>
      <p>Please set your password unique.</p>
    </div>
    <div class="gi-login-content">
      <div class="gi-login-box">
        <div class="gi-login-wrapper">
          <div class="gi-login-container">
            <div class="gi-login-form">
              <form th:action="@{/user/reset-new-password}" th:object="${userPasswordResetRequestDto}" method="post">
                <span class="gi-login-wrap">
                  <label>New Password*</label>
                  <input type="password" name="newPassword" th:field="*{newPassword}" placeholder="Enter your new password" required>
                </span>

                <span class="gi-login-wrap">
                  <label>Confirm Password*</label>
                  <input type="password" name="newPassword" th:field="*{reNewPassword}" placeholder="ReEnter your new password" class="mb-24" required>
                </span>
                <input type="hidden" name="email"  th:value="${email}" />
                <input type="hidden" name="token"  th:value="${token}" />

                <span class="gi-login-wrap gi-login-btn gi-reset-btn mt-0">
                  <button class="gi-btn-1 btn" type="submit">Submit</button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="gi-login-box d-n-991">
        <div class="gi-login-img">
          <img th:src="@{/assets/img/yesul/logo/login_side.png}" alt="login"/>
        </div>
      </div>
    </div>
  </div>
</section>

<a class="gi-back-to-top"></a>

<div th:replace="~{layout/user-default :: footer}"></div>
<div th:replace="~{layout/user-default :: user-js}"></div>

</body>

</html>