<!DOCTYPE html>

<head th:replace="~{layout/user-default :: head}"></head>

<body>

<div th:replace="~{layout/user-default :: header}"></div>

<section class="gi-vendor-setting padding-tb-40">
  <div class="container">
    <div class="row">
      <div class="section-title-2">
        <h2 class="gi-title">회원 탈퇴<span></span></h2>
        <p>회원 탈퇴를 진행하려면 아래에 비밀번호를 입력해주세요.</p>
      </div>

      <div class="col-lg-3 col-md-12 mb-24">
        <div class="gi-sidebar-wrap gi-border-box gi-sticky-sidebar">
          <div class="gi-vendor-block-items">
            <ul>
              <li><a th:href="@{/user/profile}">내정보</a></li>
              <li><a th:href="@{/user/profile/edit}">내정보 변경</a></li>
              <li><a th:href="@{/user/change-password}">비밀번호 변경</a></li>
              <li><a th:href="@{/user/like-post}">좋아요 한 글 보기</a></li>
              <li><a th:href="@{/user/resign}">회원탈퇴</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-6 offset-lg-0 col-md-12 mb-24">
        <div class="gi-login-box">
          <div class="gi-login-wrapper">
            <div class="gi-login-container">
              <form th:action="@{/user/resign}" th:object="${userResignDto}" method="post">
                <!-- CSRF 토큰 -->
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

                <div class="gi-login-wrap">
                  <label>Current Password*</label>
                  <input type="password" th:field="*{currentPassword}"
                         placeholder="현재 비밀번호" required/>
                  <div th:if="${#fields.hasErrors('currentPassword')}" class="error">
                    <p th:each="e : ${#fields.errors('currentPassword')}"
                       th:text="${e}"></p>
                  </div>
                </div>

                <div class="gi-login-wrap gi-login-btn gi-reset-btn mt-0">
                  <button class="gi-btn-1 btn" type="submit">회원 탈퇴</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<a class="gi-back-to-top"></a>

<div th:replace="~{layout/user-default :: footer}"></div>
<div th:replace="~{layout/user-default :: user-js}"></div>

</body>

</html>