<!DOCTYPE html>

<head th:replace="~{layout/user-default :: head}"></head>
<link rel="stylesheet" th:href="@{/assets/css/user-mypage.css}">

<body>

<div th:replace="~{layout/user-default :: header}"></div>

<section class="gi-login padding-tb-40">
  <div class="container">
    <div class="section-title-2">
      <h2 class="gi-title">Forgot Password<span></span></h2>
      <p>Enter your email & set password, We send you link.</p>
    </div>
    <div class="gi-login-content">
      <div class="gi-login-box">
        <div class="gi-login-wrapper">
          <div class="gi-login-container">
            <div class="gi-login-form">
              <form th:action="@{/reset-password}" th:object="${resetMailDto}" method="post">
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <span class="gi-login-wrap">
                      <label>Email Address*</label>
                      <input type="email" th:field="*{email}" placeholder="Enter your email" required/>
                </span>

                <span class="gi-login-wrap gi-login-btn gi-forgot-btn mt-0">
                      <button type="submit" class="gi-btn-1 btn">Submit</button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="gi-login-box d-n-991">
        <div class="gi-login-img">
            <img th:src="@{/assets/img/yesul/logo/login_side.png}" alt="login"/>
        </div>
      </div>
    </div>
  </div>
</section>

<div th:replace="~{layout/user-default :: feature}"></div>
<div th:replace="~{layout/user-default :: footer}"></div>
<div th:replace="~{layout/user-default :: user-js}"></div>

<a class="gi-back-to-top"></a>

</body>

</html>