<!-- fragments/alcohol/category.html -->
<div th:fragment="category">
  <section class="gi-category body-bg padding-tb-40 wow fadeInUp" data-wow-duration="2s">
    <div class="container">
      <div class="row m-b-minus-15px">
        <div class="col-xl-12 border-content-color">
          <div class="gi-category-block owl-carousel">
            <div class="gi-cat-box gi-cat-box-1">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/all">
                    <h4 class="gi-cat-title">전체</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-1">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/unrefined-rice-wine">
                    <h4 class="gi-cat-title">탁주</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-2">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/herbal-rice-wine">
                    <h4 class="gi-cat-title">약주</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-3">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/clear-rice-wine">
                    <h4 class="gi-cat-title">청주</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-4">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/fruit-wine">
                    <h4 class="gi-cat-title">과실주</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-5">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/distilled-liquor">
                    <h4 class="gi-cat-title">증류주</h4>
                  </a>
                </div>
              </div>
            </div>
            <div class="gi-cat-box gi-cat-box-6">
              <div class="gi-cat-icon">
                <div class="gi-cat-detail">
                  <a href="/alcohols/liqueur">
                    <h4 class="gi-cat-title">리큐르</h4>
                  </a>
                </div>
              </div>
            </div>
          </div> <!-- .gi-category-block -->
        </div>
      </div>
    </div>
  </section>
</div>